
<div>
    <hr/>
    <%=image_tag product.img_url, :width => '100', :align => "left", :hspace => '15'%>
    <h3><%= product.name %></h3>
<p><b><u>Description :</u></b>
    <%= product.description %></p>
</div>
<br/>
<br/>
   <br/>
    <p>Quantity On Hand: <%= product.quantity %>,
                  Price $<%= product.price %></p>
    <%= link_to 'Add To Cart' %>
    <hr/>
</div>
    <%= link_to 'View Full Product Detail', detail_path(product) %>
<br />