<h1>Listing orders</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Product</th>
    <th>Customer</th>
    <th>Orderdate</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.id %></td>
    <td><%= order.product_id %></td>
    <td><%= order.customer_id %></td>
    <td><%= order.orderdate %></td>
    <td><%= order. %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
