<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @order.id %>
</p>

<p>
  <b>Prod:</b>
  <%= @order.prod_id %>
</p>

<p>
  <b>Cust:</b>
  <%= @order.cust_id %>
</p>

<p>
  <b>Orderdate:</b>
  <%= @order.orderdate %>
</p>

<p>
  <b>Qty ordered:</b>
  <%= @order.qty_ordered %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
