<%=image_tag 'SHARK05.jpg', :width => '100', :align => "left", :hspace => '0'%>
<h2><%= page.title %></h2>
<div><%= page.body%></div>


<p>Created on <%= page.created_at %></p>
<p>Last Updated <%= page.updated_at %></p>


