<%= form_for(@customer) do |f| %>
  <div>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :postalcode %><br />
    <%= f.text_field :postalcode %>
  </div>
  <div>
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </div>
  <div>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div>
    <%= f.label :province %><br />
    <%= f.text_field :province %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
